<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Your Luggage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-img src="../assets/LuggageGif.gif"></ion-img>
  <ion-card *ngFor="let bag of bags | async" color="primary" (press)="onLongPress(bag)" >
    <ion-item color="primary" (click)="history(bag.id)">
      <ion-icon name="briefcase" slot="start"></ion-icon>
      <ion-label>
        <h2>{{bag.name}}</h2>
        <p>{{bag.status}}</p>
        <p>{{getDate(bag)}}</p>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>
