<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Luggage History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let checkpoint of checkpoints | async">
    <ion-card-content>
      <ion-item>
        <ion-label>
          <h2>{{checkpoint.status}}</h2>
          <p>{{getDate(checkpoint)}}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>