<ion-header>
  <ion-toolbar color="primary">
    
    <ion-title>
      Southwest Airlines
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="../assets/Map.gif"></ion-img>
  <ion-img src="../assets/Time.gif"></ion-img>
  
  <!-- <ion-card color="primary">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>5:10 AM</h1>
            <p>San Francisco<br>September, 13</p>
          </ion-col>
          <ion-col>
          <ion-label>></ion-label>
          </ion-col>
          <ion-col>
            <h1>4:00 PM</h1>
            <p>Madrid<br>September, 13</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> -->

  <ion-card >
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="end">
          <img src="https://lh3.googleusercontent.com/IRo-pSzmzyw1I2JOo74SxOkTQe_dxc96s6K8ie3p5VjckC5sgHoxt16IAO7_pn9qdcYnp6zXqtxvY6brcROvHK_EC11Srgvqu8txXkffmBlXCsBE5n7LkVKO-SUt8QmtEC-I7sq_aSXV05B6Ujvyq3iguqGP8AC3jHClbks5SpRLrW-89p3aaU89n8zbGGPuvwcDO5Zd8YLX5tmTDsJVXlZzd4fbRVKfySF6W8zQaWlY20VoDiQaBqsSb6jpYIrXikY8AUp2gZCOCmM7qHvgmPmqgJy6A6r38isXSnV6jOStIZ9HSyD9CUE0Q4U9YyOgmxCYrN-CUmz7LKCCKodEfgQRbFHG-L2xod1z98sIhGmlkmpJ1fL5tVfZPVsSep4D-7P8saeklt9nvUbPaRBRhneJr1NtmaVNC6bNnoxnqIqugAnBK1U42MOSICGJ_SFXZ37TqGkkkMsMn52Fv8lIkSd91cinHxBzW8OMg0dLh2VADswqpP4QXP9EGQ3pmnJfIUgTqinVgy2b2zwIB5_O7e5M3nZ4U8U0pQJ0QT2bVNh2ZYY-QtFXfPRtGutVYMAm-xXFxUw-woG3l3v3-mSJKIJaD7PkQEhU_bPxqYNSgJ66IF794gg3mIeXSoNUKxPrdw6kBti6d_euv3UQpU-P-BR7ZL6msvzoqK4nZ_SBtr2iL9QZjtE2AZsoudWSIpXHtM7dQbgC1KvEwNmMCTQV7mSIFdkcNxoNCsx2h3vc-QCU2JDZsA=w720-h1280-no">
        </ion-avatar>
        <ion-label>
          <h1>Cooper Scott</h1>
          <h3>Standard Class</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col style="text-align: center;">
              <!--Flight-->
              <ion-label>Flight</ion-label>
              <ion-label><b>SE 412</b></ion-label>
            </ion-col>
            <ion-col style="text-align: center;">
              <!--Terminal-->
              <ion-label>Terminal</ion-label>
              <ion-label><b>5</b></ion-label>
            </ion-col>
            <ion-col style="text-align: center;">
              <!--Gate-->
              <ion-label>Gate</ion-label>
              <ion-label><b>12A</b></ion-label>
            </ion-col>
            <ion-col style="text-align: center;">
              <!--Seat-->
              <ion-label>Seat</ion-label>
              <ion-label><b>32E</b></ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-button expand="block"> View Boarding Pass</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
